/* stats.component.css */
.stats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    /* background-color: #111; */
    padding: 40px 20px;
    text-align: center;
    color: #fff;
}

.stat-card {
    padding: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.stat-card:last-child {
    border-right: none;
}

.stat-card h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.stat-card p {
    font-size: 1rem;
    margin-top: 8px;
    color: #ccc;
}