<footer class="footer">
  <div class="social-links">
    <a
      href="https://www.youtube.com/@mikadomediaworks9123"
      target="_blank"
      class="youtube"
    >
      <img src="youtube.png" alt="YouTube" />
      <span class="label">YouTube</span>
    </a>
    <a
      href="https://www.instagram.com/mikadomediaworks?igsh=a2g0eGQxazhqaG5p"
      target="_blank"
      class="instagram"
    >
      <img src="instagram.png" alt="Instagram" />
      <span class="label">Instagram</span>
    </a>
    <a
      href="https://www.facebook.com/share/19qvDG8ndR/"
      target="_blank"
      class="facebook"
    >
      <img src="facebook.png" alt="Facebook" />
      <span class="label">Facebook</span>
    </a>
    <a
      href="https://www.linkedin.com/company/mikadomediaworks/"
      target="_blank"
      class="linkedin"
    >
      <img src="linkedin.png" alt="LinkedIn" />
      <span class="label">LinkedIn</span>
    </a>
    <a
      href="mailto:mikadomediaworks@gmail.com"
      target="_blank"
      class="linkedin"
    >
      <img src="gmail.png" alt="LinkedIn" />
      <span class="label">Email</span>
    </a>
    <a href="javascript:void(0);" class="about" (click)="toggleAbout()">
      <img src="info.png" class="about" alt="About" />
      <span class="label">About</span>
    </a>
  </div>
</footer>

<div class="about-overlay" *ngIf="showAbout" @fadeOverlay>
  <button class="close-btn" (click)="toggleAbout()" aria-label="Close">
    ×
  </button>
  <div class="about-scroll">
    <p>
      Mikado Media Works is a Mumbai based Production Company focused on quality
      storytelling, striking visuals, and innovative designs.
      <br />
      <br />
      Phone: <a href="tel:+919892998906">+91 989 299 8906</a>
    </p>
  </div>
</div>
