<div class="about-me-box">
  <blockquote>
    <strong>About Us</strong>
    <p>
      At Mikado Media Works, we bring stories to life with striking visuals and
      smart design. Based in Mumbai, we’re a full-service production house
      creating everything from TV commercials and animation to branded content,
      promos, corporate films, and digital assets.
    </p>
    <p>
      With a strong focus on creativity and execution, we’ve delivered content
      across formats — long and short, vertical and widescreen — for some of
      India’s leading brands like Zee5, Hungama OTT, Asianet News, Big Bazaar,
      GroupM and Publicis Media.
    </p>
    <p>Whatever the screen, whatever the story — we make it memorable.</p>
  </blockquote>
</div>
