.about-me-box {
  width: 100%;
  color: #fafafa;
  color: #fafafa;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2;
  font-family: roboto;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: center;
}

.section {
  text-align: center;
  font-size: 1.5rem;
  color: #FDC426;
}