.rotating-icons-container {
  width: 100%;
  overflow: hidden;
  background: transparent;
  padding-top: 2rem;
}

.icon-strip {
  display: flex;
  width: 200%;
  animation: scroll-left 20s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.icon-set {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  flex: 100vw;
}

.icon-set img {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  flex-shrink: 0;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.hungama {
  height: 1.5rem !important;
  width: 6rem !important;
}

.artist {
  height: 2.5rem !important;
  width: 2.2rem !important;
}
.discovery {
  height: 1.5rem !important;
  width: 6.5rem !important;
}
.publicise {
  height: 2.5rem !important;
  width: 5rem !important;
}
.group {
  height: 2.5rem !important;
  width: 4rem !important;
}

.zee {
  height: 2.5rem !important;
  width: 4rem !important;
}

@media (min-width: 768px) {
  .hungama {
    height: 2rem !important;
    width: 7rem !important;
  }

  .artist {
    height: 3rem !important;
    width: 3rem !important;
  }
  .discovery {
    height: 2rem !important;
    width: 9rem !important;
  }
  .publicise {
    height: 3rem !important;
    width: 6rem !important;
  }
  .group {
    height: 3rem !important;
    width: 5rem !important;
  }

  .zee {
    height: 3rem !important;
    width: 5rem !important;
  }
}
