.welcome-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 18px;
  font-family: roboto;
  top: 50%;
  white-space: nowrap;

  .line1,
  .line2 {
    display: inline;
  }

  @media (max-width: 480px) {
    .line1,
    .line2 {
      display: block;
    }
  }
}
